*{
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-size: 22px;
}

#nav{
    height: 7vw;
    width: 100%;
    display: flex;
    background-color: black;
    align-items: center;
    padding: 0 3vw;
    gap: 2vw;
    position: fixed;
    justify-content: flex-start;
    z-index: 99;
}

#nav img{
    height: 5vw;
    margin-top: 2vw;
}

#nav h3{
    font-size: 1.3vw;
    text-decoration: none;
    color: #9c9891;
    margin-top: 0.7vw;
    margin-left: 5vw;
    text-align: right;
    font-family: 'Poppins';
}

#nav i{
    font-size: 1.3vw;
    color: #9c9891;
    margin-top: 0.7vw;
    margin-left: 5vw;
}

.animation{
    cursor: pointer;
}
#nav h3:hover{
    color: #999da0;
}
.animation,.dropdown a,.dropbtn{
    display: inline-block;
    position: relative;
    color: #999da0;
    margin-bottom: 1px;
    font-family: 'Abril Fatface', serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    
  }
  
.animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #999da0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    
  }
  
 .animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

#img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -3;
}

#main{
    position: relative;
    background-color: rgb(0, 0, 0, 0.37);
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    z-index: 10;
}

#page1 h1{
    height: 28vw;
    font-size: 7vw;
    font-family: 'Dela Gothic One';
    font-weight: 400;
    margin-top: 8vw;
}

#page2{
    height: 210vh;
    width: 100%;
}

#page2 #p1{
    height: 20vw;
    /*margin-left: 2.5vw;*/
    font-family: 'Poppins';
    font-size: 3.5vw;
    text-align: center;
    color: #9c9891;
}   

#page2 #img1{
    height: 20vw;
    margin-top: -12vw;
    margin-left: 15vw;
    border-radius: 3vw;
}

#page2 #p2{
    font-size: 1.3vw;
    text-decoration: none;
    color: #9c9891;
    margin-left: 18vw;
    font-family: 'Poppins';
}

#page2 #p3{
    font-size: 1.3vw;
    text-decoration: none;
    color: #9c9891;
    margin-top: -2vw;
    margin-left: 46vw;
    font-family: 'Poppins';
}

#page2 #p4{
    font-size: 1.3vw;
    text-decoration: none;
    color: #9c9891;
    margin-top: -2vw;
    margin-left: 72vw;
    font-family: 'Poppins';
}

#btn1{
    width: 10%;
    height: 3vw;
    background: #999da0;
    border: none;
    outline: none;
    border-radius:40px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-left: 16vw;
    margin-top: 1vw;
}

#btn2{
    width: 10%;
    height: 3vw;
    background: #999da0;
    border: none;
    outline: none;
    border-radius:40px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-left: 17vw;
    margin-top: 1vw;
}

#btn3{
    width: 10%;
    height: 3vw;
    background: #999da0;
    border: none;
    outline: none;
    border-radius:40px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-left: 17.5vw;
    margin-top: 1vw;
}

#page2 #img2{
    height: 20vw;
    margin-left: 15vw;
    margin-top: 10vw;
    border-radius: 3vw;
}

#page2 #p5{
    font-size: 1.3vw;
    margin-left: 10vw;
    color: #9c9891;
    font-family: 'Poppins';
}

#page2 #p6{
    font-size: 1.3vw;
    margin-left: 47vw;
    margin-top: -2vw;
    color: #9c9891;
    font-family: 'Poppins';
}

#page2 #p7{
    font-size: 1.3vw;
    margin-top: -2vw;
    margin-left: 76vw;
    color: #9c9891;
    font-family: 'Poppins';
}

#btn4{
    width: 10%;
    height: 3vw;
    background: #999da0;
    border: none;
    outline: none;
    border-radius:40px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-left: 14.2vw;
    margin-top: 1vw;
}

#btn5{
    width: 10%;
    height: 3vw;
    background: #999da0;
    border: none;
    outline: none;
    border-radius:40px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-left: 18.5vw;
    margin-top: 1vw;
}

#btn6{
    width: 10%;
    height: 3vw;
    background: #999da0;
    border: none;
    outline: none;
    border-radius:40px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-left: 20vw;
    margin-top: 1vw;
}

#footer{
    height: 30vh;
    width: 100%;
    background: #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#f1,#f2{
    width: fit-content;
    position: relative;
    z-index: 2;
}

#f1 h3{
    font-family: 'Poppins';
    font-size: 1.5vw;
    white-space: nowrap;
    color: #999da0;
    margin-bottom: 0.5vw;
    margin-left: 2vw;

}

#f3 img{
    height: 7vw;
    margin-left: 40vw;
}

#f2 h3{
    font-family: 'Poppins';
    font-size: 1.5vw;
    white-space: nowrap;
    color: #999da0;
    margin-bottom: 0.5vw;
}